@using Webapp.Features.Home.PhotoMosaic
@model Webapp.Features.Home.PhotoMosaic.Upload

<div class="flex flex-col gap-2 items-center" hx-get="@GetMosaicEndpoint.Url" hx-trigger="every 5s" hx-include="#requestId">
    <p id="requestId" hidden="hidden" value="@Model.requestId"></p>
    <p>This could take a few seconds...</p>
    <span class="loading loading-spinner loading-xs"></span>
</div>